:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="--zen-primary-color"]) { --theme-newtab-highlight-color: var(--zen-primary-color); }
:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="--uc-newtab-urlbar-highlighting-border-custom-color"]) { --theme-newtab-highlight-color: var(--uc-newtab-urlbar-highlighting-border-custom-color); }
:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="red"]) { --theme-newtab-highlight-color: #ff0000; }
:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="orange"]) { --theme-newtab-highlight-color: #ffa500; }
:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="yellow"]) { --theme-newtab-highlight-color: #ffff00; }
:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="green"]) { --theme-newtab-highlight-color: #008000; }
:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="turquoise"]) { --theme-newtab-highlight-color: #40e0d0; }
:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="blue"]) { --theme-newtab-highlight-color: #0000ff; }
:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="purple"]) { --theme-newtab-highlight-color: #800080; }
:root:has(#theme-Newtab-Urlbar-Highlighting[uc-newtab-urlbar-highlighting-border-color="pink"]) { --theme-newtab-highlight-color: #e21c70; }

#urlbar[zen-newtab="true"] #urlbar-background {
  box-shadow: 0px 0px var(--uc-newtab-urlbar-highlighting-border-blur) var(--uc-newtab-urlbar-highlighting-border-radius) var(--theme-newtab-highlight-color) !important;
}

